/* Write your CSS here */

p {
  color: #000000;
}
button {
  color: #ff0b37;
  padding: 0 20px;
  border: 1px solid #ff0b37;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 5px;
}
