/* Write your CSS here */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc2a0;
}
.box {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
}
.todo-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type='text'] {
  height: 30px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}
button {
  padding: 5px 10px;
}
.box h1 {
  color: #ff8542;
}
li {
  list-style-type: none;
}

.todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.item p {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
